# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/backend/.idea/
# testing
/frontend/coverage
/backend/users/__pycache__
/backend/users/migrations/__pycache__
/backend/backend/__pycache__
/backend/charts/__pycache__
# production
/frontend/node_modules


# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
