
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: nowrap column;
    overflow:hidden;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 5000px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 4%;
}




.body {
    background: gray;
    flex-grow: 3;
    display: flex;
    flex-flow: row nowrap;
}


.RightSidebar {
    background: mediumslateblue;
    min-width: 250px;
    max-width: 5000px;
    box-sizing: border-box;
    text-align: center;
    flex-grow: 1;
}

.content {
    flex-grow: 2;
    background: white;
}
